html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Open sans";
}

body {
    margin: 0 auto;
}

body, html {
    height: 100%;
  }

header {
    height: 6rem;
    max-height: 15vh;
}
.nav-header__logo {
    height: 6rem;
    max-height: 15vh;
}

.bg__parallax {
  background-image: url("./media/img/capamerica.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

/* Turn off parallax scrolling for tablets and phones. */
@media only screen and (max-device-width: 700px) {
    .bg__parallax {
        background-attachment: scroll;
    }
  }

article {
    background-color: transparent;
}

footer {
    height: 2rem;
    min-height: 10vh;
}

.nav-header {
    display: grid;
    grid-template-columns: auto auto auto auto auto 1fr;
    gap: 0 1rem;
    background-color: blue;
}

.nav-header > .nav-header__element {
    font-size: 130%;
    margin: 0 1rem;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}