html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Open sans";
}
body {
    margin: 0 auto;
}

header {
    height: 6rem;
    max-height: 15vh;
}

footer {
    height: 2rem;
    min-height: 10vh;
}